<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681904798882-24aavuvkrsg3l1mqrkn49g4kh0s4pom5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681904798882-24aavuvkrsg3l1mqrkn49g4kh0s4pom5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681904798882-lf1phjsp05obm5vb9oumd818991285a3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_q_9GAgbZqDwA1bxDRyqMHNNWmbkiG3M</string>
	<key>GCM_SENDER_ID</key>
	<string>681904798882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>surf.lokal.crm</string>
	<key>PROJECT_ID</key>
	<string>surf-lokal-web-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>surf-lokal-web-authentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681904798882:ios:6b642504431904d4612bfb</string>
</dict>
</plist>